.header {
  display: flex;
  align-self: center;
  background-color: black;
  max-width: 880px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 45px auto 0;
}

.logo {
  max-width: 180px;
  margin: 0 0 41px;
}

.line {
  max-width: 880px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header {
    max-width: 320px;
    display: flex;
    justify-self: center;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 28px auto 0;
  }
  .logo {
    align-self: flex-start;
    max-width: 130px;
    margin: 0 0 32px 27px;
    width: 100%;
  }
  .line {
    max-width: 320px;
    width: 100%;
  }
}
